<!--Статья-->
<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="color:white; padding: 100px 0 0 0;">

    <div class="contentArticle" contenteditable="plaintext-only">
        <div style="color: rgb(48, 213, 200);"><%- article.date %></div>
        <div>
            <h1><%- article.title %></h1>
        </div>
        <div style="padding: 0 0 50px  0; color: rgb(190, 190, 190);"><%- article.description %></div>

        <div> <%- article.content %></div>
    </div>
    
</div>
