<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Banders</title>
    <link rel="icon" href="https://www.bandprotocol.com/static/images/band-token-black.svg" type="image/png">

</head>