<!DOCTYPE html>
<html lang="en">

<%-include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/index.css">

    <body style="background-color: #151719;">
        <%-include('../partials/navbar.ejs')%>
            <div class="container" style="margin-top: 100px;">
                <%-include('../partials/filter.ejs')%>
                    <div class="articles" style="margin-top: 30px;">
                        <%-include('../partials/articles.ejs')%>
                    </div>
            </div>

            <!--Bootstrap JS-->
            <script src="/js/bootstrap.bundle.js"></script>
            <!-- jquery -->
            <script src="/js/jquery.min.js"></script>
            <script src="/js/isotope.min.js"></script>
            <!-- files js -->
            <script src="/js/filter.js"></script>
    </body>

</html>