<!DOCTYPE html>
<html lang="en">

<%-include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/article.css">

    <body style="background-color: #151719;">
        <div class="container">
            Авторизация прошла успешна
        </div>

        <!--Bootstrap JS-->
        <script src="/js/bootstrap.bundle.js"></script>
        <!-- jquery -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/isotope.min.js"></script>
        <!-- files js -->

    </body>

</html>